body {
  font-size: 16px;
  color: #fff;
  background-color: lightskyblue;
  font-family: 'Times New Roman', Georgia, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: midnightblue;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/GCJ.png') no-repeat;
  width: 131px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Times New Roman', Georgia, sans-serif;
  color: gold;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkred;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-left: 13.5px;
}
.navbar-brand a:link, .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand {
  margin-left: 30px;
}
.navbar-brand p {
  color: gold;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}
.navbar>.container {
  display: inline-block;
}













.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 639px) {
  .visible-xxs {
    display: block !important;
  }

  table.visible-xxs {
    display: table;
  }

  tr.visible-xxs {
    display: table-row !important;
  }

  th.visible-xxs,
  td.visible-xxs {
    display: table-cell !important;
  }

  .visible-xxs-block {
    display: block !important;
  }

  .visible-xxs-inline {
    display: inline !important;
  }

  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 639px) {
  .hidden-xxs {
    display: none !important;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}

.hidden-xxs-up {
  display: none !important;
}

@media (max-width: 639px) {
  .hidden-xxs-down {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .hidden-xs-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
}

.hidden-lg-down {
  display: none !important;
}