body {
  font-size: 16px;
  color: #fff;
  background-color: lightskyblue;
  font-family: 'Times New Roman', Georgia, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: midnightblue;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/GCJ.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Times New Roman', Georgia, sans-serif;
  color: gold;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkred;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-left: 12.5px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: gold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px darkred;
  font-size: .7em;
  margin-top: 20px;
  margin-left: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: gold;
  text-align: center;
}
#nav-list a:hover {
  color: red;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid gold;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -25px;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
#life-jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.container .life {
  box-shadow: 0 0 50px #3F0C1F;
  margin-bottom: 15px;
  border: 2px solid #3F0C1F;
}
  #xs-available {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: darkred;
  }

  .description {
    margin-top: 5px;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: darkred;
  }


#life-tile, #publications-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#life-tile:hover, #publications-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#life-tile {
  background: url('../images/life.jpg') no-repeat;
  background-position: center;
}
#publications-tile {
  background: url('../images/pub1.jpg') no-repeat;
  background-position: center;
}

#life-tile span, #publications-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
a.topic {
  text-decoration: none;
}

/* End Homepage */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: midnightblue;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */
#head1, #head2, #head3 {
  font-size: 1.5em;
  font-weight: bold;
  color: gold;
  text-shadow: 5px 5px 10px midnightblue;
  margin-bottom: 20px;
}
.adm-details>p {
  color: midnightblue;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.p-pic {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  margin-top: 20px;
  margin-bottom: 20px;
}





/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron-lg.jpg') no-repeat;
    height: 480px;
    width: 100%;
  }
#life-jumbotron {
    background: url('../images/faculty-lg.jpeg') no-repeat;
    height: 757px;
    width: 100%; 
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border: 2px solid gold;
    background-color: midnightblue;
    color: gold;
  }
}





/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/GCJ-md.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron-md.jpg') no-repeat;
    height: 398px;
  }
  #life-jumbotron {
    background: url('../images/faculty-md.jpeg') no-repeat;
    height: 627px;
  }
  /* End Home Page */
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border: 2px solid gold;
    background-color: midnightblue;
    color: gold;
  }

}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron-sm.jpg') no-repeat;
    height: 305px;
  }
  #life-jumbotron {
    background: url('../images/faculty-sm.jpeg') no-repeat;
    height: 480px;  
  }
  /* End Home Page */
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border: 2px solid gold;
    background-color: midnightblue;
    color: gold;
  }

}





/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid gold;
    background-color: midnightblue;
    color: gold;
  }

    .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #life-jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #publications-tile {
  background: url('../images/publications.jpg') no-repeat;
  background-position: center;
  background-size: 100%;
} 
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid gold;
    background-color: midnightblue;
    color: gold;
  }
}

